<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<title>{%$web_name%}</title>
<link type="text/css" rel="stylesheet" href="{%$URL%}index.css">
<script type="text/javascript" src="{%$URL%}js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="{%$URL%}js/jquery.touchslider.js"></script>
<script type="text/javascript" src="{%$URL%}js/js.js"></script>
</head>
<body>
<div class="kx_1"></div>
<div class="index_box"></div>
<div class="index_box">
  <p><span class="index_w"><a href="#"><img src="{%$URL%}img/index.jpg"></a></span>
  <span class="index_w" style="float: right;"><a href="#"><img src="{%$URL%}img/index1.jpg"></a></span></p>
  <div class="clear"></div>
  <p style="padding: 14px 0;"><a href="#"><img src="{%$URL%}img/index2.jpg"></a></p>
  <div class="clear"></div>
  <p><span class="index_w"><a href="#"><img src="{%$URL%}img/index3.jpg"></a></span>
  <span class="index_w" style="float: right;"><a href="a#"><img src="{%$URL%}img/index4.jpg"></a></span></p>
</div>
<div class="kx_1"></div>
</body>
</html>
