<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0 , user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<link href="{%$URL%}css/base.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{%$URL%}js/jquery-1.9.0.min.js"></script>
<script src="{%$URL%}js/jquery.touchslider.js"></script>
<script src="{%$URL%}js/js.js"></script>
<title>{%$web_name%}</title>
</head>
<body>
{%include file="index-head.htm"%}
<div class="index_box">
  <div class="index_bl"><span><a href="#"><img src="{%$URL%}images/tg_1.jpg"></a></span></div>
  <div class="index_br">
    <p><span class="index_s fl"><a href="#"><img src="{%$URL%}images/js_2.jpg"></a></span><span class="index_s fr"><a href="index.php?p=news_list&lanmu=1"><img src="{%$URL%}images/zx_3.jpg"></a></span>
    <div class="clear"></div>
    </p>
    <p><span class="index_s fl"><a href="#"><img src="{%$URL%}images/about_4.jpg"></a></span> <span class="index_s fr"><a href="#"><img src="{%$URL%}images/con_5.jpg"></a></span></p>
  </div>
  <div style="clear: both"></div>
</div>
<div class="case">
  <div class="case_p"><a href="index.php?p=products_list&lanmu=2"><img src="{%$URL%}images/case_p.jpg"></a></div>
  <div class="case_nav"><a href="index.php?p=products_list&lanmu=2"><img src="{%$URL%}images/case.jpg"></a></div>
</div>
</body>
</html>