<link rel="stylesheet" type="text/css" href="{%$URL%}fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{%$URL%}css/menu.css" />
<script src="{%$URL%}js1/menu.js"></script>
<script src="{%$URL%}js1/TweenMax.min.js"></script> 
<div class="copyright">{%lcmx_3g_touch_show set="列表名:touchbot,编号:1"%}{%$touchbot.bot%}</div>
<div style="height:60px;"></div>

<!--<footer class="footer">
  <ul>
    <li class="footer_text"><a href="tel:{%lcmx_3g_touch_show set='列表名:touch,编号:1'%}{%$touch.tel%}">电话</a></li>
    <li class="footer_text"><a href="sms:{%lcmx_3g_touch_show set='列表名:touch,编号:1'%}{%$touch.duanxin%}">短信</a></li>
    <li style="padding:10px 0;"><a href="index.php"><img src="{%$URL%}images/icon1.png"></a></li>
    <li class="footer_text"><a href="index.php?p=map">地图</a></li>
    <li class="footer_text"><a href="index.php?p=fenxiang">分享</a></li>
    <div class="cl"></div>
  </ul>
</footer>-->

<div class="menu">
  <div class="menu-wrapper">
    <ul class="menu-items">
      <li class="menu-item">
        <button class="menu-item-button"> <a href="tel:{%lcmx_3g_touch_show set='列表名:touch,编号:1'%}{%$touch.tel%}" style="color:#FFF;"><div class="menu_text">电话</div></a> </button>
        <div class="menu-item-bounce"></div>
      </li>
      <li class="menu-item">
        <button class="menu-item-button"><a href="sms:{%lcmx_3g_touch_show set='列表名:touch,编号:1'%}{%$touch.duanxin%}" style="color:#FFF;"><div class="menu_text">短信</div></a></button>
        <div class="menu-item-bounce"></div>
      </li>
       <li class="menu-item">
        <button class="menu-item-button"> <a href="index.php" style="color:#FFF;"><div class="menu_text">首页</div></a></button>
        <div class="menu-item-bounce"></div>
      </li>
      <li class="menu-item">
        <button class="menu-item-button"> <a href="index.php?p=map" style="color:#FFF;"><div class="menu_text">地图</div></a></button>
        <div class="menu-item-bounce"></div>
      </li>
      <li class="menu-item">
        <button class="menu-item-button"> <a href="index.php?p=fenxiang" style="color:#FFF;"><div class="menu_text">分享</div></a></button>
        <div class="menu-item-bounce"></div>
      </li>
    </ul>
    <button class="menu-toggle-button"> <i class="fa fa-plus menu-toggle-icon"></i> </button>
  </div>
</div>

<a class="to-top">Top</a> 
<script>
$(function() {
	$('.to-top').toTop();
});
</script> 
{%if $smarty.get.jiance != ""%}
<script language="JavaScript"> 
document.body.innerHTML = document.body.innerHTML.replace(/{%$smarty.get.jiance%}/gi,"<font color=red>{%$smarty.get.jiance%}</font>"); 
</script>
{%/if%}