<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>{%$LCMX.touch_name%}</title>
<link href="{%$URL%}style/webstyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{%$URL%}style/nav.css" />
<script src="{%$URL%}js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="{%$URL%}js/velocity.min.js"></script>
<script type="text/javascript" src="{%$URL%}js/main.js"></script>
<script src="{%$URL%}js/jquery.toTop.min.js"></script>
<script> 
$(document).ready(function(){
	 $("#a1").animate({
      left: "0%",
     opacity:"1",
    },800);
  $("#a2").animate({
      right: "0%",
     opacity:"1",
    },800);
	 $("#a3").animate({
      left: "0%",
     opacity:"1",
    },1000);
	 $("#a4").animate({
      right: "0%",
     opacity:"1",
    },1000);

 

	 $("#n1").animate({
      left: "0%",
     opacity:"1",
    },700);
    $("#n2").animate({
      right: "0%",
     opacity:"1",
    },800);
	 $("#n3").animate({
      left: "0%",
     opacity:"1",
    },900);
	 $("#n4").animate({
      right: "0%",
     opacity:"1",
    },1000);
	
		$(".search").click(function(){
			if($(".ss").width()==0){
				$(".ss").animate({width:'100%'});
			}
			else
			{
				$(".ss").animate({width:'0%'});
			}
		});
 });
 </script>
<script type="text/javascript">
$(function(){
  $("#gengduo_button").click(function(){
	  var num=4;//显示个数
	  var page=$("#gengduo_button").attr('page');//第几个分页
	  var nodata=$("#gengduo_button").attr('nodata');//判断是否有数据
	  if(page){
		  page=parseInt(page);
		  }else{
			  page=1;
			  }
	  var type='{%$smarty.get.c_id%}';//新闻所属分类
	  var lanmu='{%$smarty.get.lanmu%}';//新闻所属栏目
	  //$("#test").text("栏目:"+lanmu+"数量:"+num+"类型:"+type+"分页:"+page);
	  
	  if(lanmu){
		  if(nodata!=="no"){
			  $.post("action/news_list_ajax_html5.php",{news_num:num,news_page:page,news_type:type,news_lanmu:lanmu},function(data){
			  if(data){
				  if(data=="2"){
					  alert("服务器错误，请稍后重试！");
					  }else{
						  if(data=="1"){
							  alert("没有更多数据了！");
							  $("#gengduo_button").attr('nodata','no');
							  }else{
								  $(".one").append(data);
								  page=page+1;
								  $("#gengduo_button").attr('page',page);
								  }
						  }
				  }else{
					  alert("网络错误，请稍候重试！")
					  }
			  })
			  }else{
				  alert("没有更多数据了！");
				  }
		  }else{
			  alert("请求参数不正确！");
			  }
	  })
})
</script>
</head>

<body style="max-width:640px;margin:0 auto;">
<!--header start-->
{%include file="head.htm"%}
<!--header end--> 

<!--index start-->

	<div class="lanmu" align="center">
		  <div style="width:94%;padding-top: 4%;padding-bottom:5%;" align="center">
		  	{%lcmx_news_type_get set="列表名:tshow,类别:GET[c_id],栏目:GET[lanmu]"%}
		  	<span style="color:#fff;font-size:26px;">{%$tshow.lanmuname%}</span>
		  </div>
		</div> 
<div class="box">
  	<div class="box_main" align="center">
	  	<section>
	  		<div class="index_liebiao">
	  			<ul width="100%">
	  				{%lcmx_news_type set="列表名:newstype,所属栏目:GET[lanmu],所属类别:0"%}
	  				{%foreach from=$newstype item=list%}
	  				<li style="width:23%;">
	  					<a href="index.php?p=news_list&c_id={%$list.c_id%}&lanmu={%$list.lanmu%}">{%$list.c_title%}</a>
	  				</li>
	  				{%/foreach%}
	  			</ul>
	  		</div>
	  		<section class="one" > 
		      	{%lcmx_3g_news_list set="列表名:news,显示数目:4,标题长度:8,类别:GET[c_id],栏目:GET[lanmu],分页显示:1,简介长度:15"%}
		        {%if $news%}
		        {%foreach from=$news item=list%}
				<div class="list1" align="left">
			        <article class="list">
			        	<a href="index.php?p=news_show&id={%$list.id%}&lanmu={%$smarty.get.lanmu%}">&nbsp;&nbsp;&nbsp;&nbsp;{%$list.lc_title|truncate:15:"...":true%}</a>
			        	<span>{%$list.lc_datetime|date_format:"%m-%d"%}&nbsp;&nbsp;&nbsp;&nbsp;</span>
			        </article>
				</div>
		        {%/foreach%}
		        {%/if%} 
		    </section>
		  
	      	<div class="sub_more" style="text-align:center;margin:3% 0;">
	        	<input name="查看更多信息" type="image" id="gengduo_button" page="2"  src="{%$URL%}images/g.png" style="width:12%;">
	      	</div>
	  	</section>
	    
	    
	</div>
</div>

<!--index end--> 

<!--footer start-->
{%include file="foot.htm"%}
<!--footer end-->
</body>
</html>
